<!DOCTYPE html>
<html lang="es">
  <head>
    <title>EduConnect</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="preload" href="../../assets/css/about_us.css" as="style" />
    <link rel="stylesheet" href="../../assets/css/about_us.css" />
    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="../../assets/image/favicon.ico"
      type="image/x-icon"
    />
    <!-- MATERIAL ICONS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

  <body>
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../index.html">
            <img src="../../assets/image/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            EduConnect
          </a>
        </div>
        <div class="navegacion">
          <a href="../../index.html">Inicio</a>
          <a href="./about_us.html" class="about-us">Acerca de nosotros</a>
          <a href="./support.html">Soporte</a>
        </div>
        <div class="iniciar">
          <a href="../login_register/index.html">Iniciar</a>
        </div>
      </nav>
  </header>

    <main>
      <section class="welcome">
        <h2>¡Bienvenidos a EduConnect!</h2>
        <p>Transforma tu aprendizaje con nuestras asesorías personalizadas.  En EduConect, estamos comprometidos a brindarte la mejor experiencia educativa a través de asesorías adaptadas a tus necesidades.</p>
    </section>
    <section class="team">
        <h2>Nuestro Equipo</h2>
        <p>Contamos con un equipo multidisciplinario de profesionales altamente calificados en diversas áreas del conocimiento.</p>
    </section>
    <section class="offerings">
        <h2>Qué Ofrecemos</h2>
        <p>Asesorías Personalizadas: Ofrecemos sesiones de tutoría individualizadas...</p>
        <p>Retroalimentación Educativa: Proporcionamos retroalimentación continua...</p>
        <p>Apoyo en Tareas: Ayudamos a los estudiantes con sus tareas...</p>
    </section>

      <!--<div class="bloq_parrafo">
        <h1>¡ Bienvenidos a EduConect !</h1>
        <p>Transforma tu aprendizaje con nuestras asesorías personalizadas!
          En EduConect, estamos comprometidos a brindarte la mejor experiencia educativa a través de asesorías adaptadas a tus necesidades. <br>
          Ya sea que estés buscando mejorar tus habilidades en matemáticas, idiomas, ciencias o cualquier otra área, 
          nuestros expertos están aquí para ayudarte a alcanzar tus objetivos académicos.</p>

          <div class="info">
          <h1>Nuestro Equipo</h1>
          <p>Contamos con un equipo multidisciplinario de profesionales altamente calificados en diversas áreas del conocimiento.
            <br>Nuestros asesores son expertos en sus campos y están comprometidos con el éxito de nuestros estudiantes.
            Estamos preparados para ofrecer el mejor apoyo académico.</p>
          </div>


              <div class="info_2">
                <h1>Qué Ofrecemos</h1>
            <p>Asesorías Personalizadas:
              <br>Ofrecemos sesiones de tutoría individualizadas adaptadas a las necesidades específicas de cada estudiante. 
              <br>Retroalimentación Educativa:
              <br>Proporcionamos retroalimentación continua y constructiva sobre el progreso académico de los estudiantes.
              <br>Apoyo en Tareas:
              <br>Ayudamos a los estudiantes con sus tareas y proyectos escolares, 
              proporcionando orientación <br> y apoyo en la resolución de problemas y la redacción de informes.
            </p>
            <img src="../../assets/image/8609147_5836-Photoroom.png" alt="student">
          </div>-->
        </div>
    </main>


    <!--<footer>
      <div class="footer-content">
          <h3>EduConnect</h3>
          <p>uwu</p>
          <ul class="socials">
          </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2024 EduConect. Todos los derechos son reservados <span>LPP</span></p>
      </div>
  </footer>-->
  </body>
</html>
