@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*!!! Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/*!!! Estilos para el Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #265073;
  text-decoration: none;
}

.navegacion a {
  color: #3a3a3a;
  font-weight: 600;
  margin: 0 15px;
  text-decoration: none;
}

.navegacion a.about-us {
  color: #2D9596;
}

/* Estilo para el enlace de iniciar sesión */
.iniciar a {
  background-color: #265073;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.iniciar a:hover {
  background-color: #0D6EFD;
}

/*!!! Estilos de la Sección Acerca de Nosotros */
.about-us-section .container {
  margin-top: 80px; /* Ajusta el margen superior para que no se solape con el navbar */
}

.about-us-section h2 {
  font-weight: 700;
  color: #265073;
}

.about-us-section h2 .highlight {
  color: #2D9596;
}

.about-us-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-us-section ul li {
  margin-bottom: 10px;
}

.about-us-section img {
  margin-bottom: 20px;
}

.puntos{
  margin-top: 40px;
}

/*!!! Estilos del Equipo */
.text-center img {
  width: 150px;
  height: 150px;
}

.text-center p {
  margin-top: 10px;
  font-weight: bold;
  color: #265073;
}

/*!!! Estilos del Footer */
.footer {
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-logo span {
  font-size: 24px;
  font-weight: bold;
}

.footer-nav {
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer-nav a:hover {
  color: #ddd;
}

.footer-social {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ddd;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-nav {
    margin-bottom: 0;
  }

  .footer-social {
    margin-bottom: 0;
  }
}
