/* Importación de la fuente Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*!!!! ESTILO GENERAL !!!!!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*!!!! ESTILO DEL BODY !!!!!*/
body {
  padding-top: 70px; /* Para evitar que el contenido se superponga al navbar fijo */
}


/*!!!! ESTILO DEL NAVBAR !!!!!*/ 
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Alinea los contenedores principales del navbar */
.navbar > * {
  flex: 1; /* Cada hijo del navbar toma el mismo espacio */
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea a la izquierda */
}

.container-fluid a{
  color: #265073;
  font-weight: 700;
}

.container-fluid a:hover{
  color: #265073;
}

.navegacion {
  display: flex;
  justify-content: space-between; /* Centra los elementos */
  align-items: center;
}

.iniciar {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea a la derecha */
}

/* Estilo de los enlaces de navegación */
.navegacion a {
  color: rgb(58, 58, 58);
  font-weight: 600;
  margin: 0 15px; /* Espacio entre los enlaces */
  text-decoration: none;
}

.navegacion a.home-page {
  color: #2D9596;
}

.navegacion a:hover {
  color: #2D9596;
}

/* Estilo para el enlace de iniciar sesión */
.iniciar a {
  background-color: #265073;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.iniciar a:hover {
  background-color: #0D6EFD;
}

/*!!!! ESTILO DEL HERO !!!!!*/ 
.hero {
  background: url('../image/hero.jpg') no-repeat center center/cover;
  height: 60vh;
}

.hero h1 {
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.cta-btn {
  padding: 10px 20px;
  background-color: #265073;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

/*!!!! ESTILO DE LA SECCIÓN DE BIENVENIDA !!!!!*/ 
.welcome h2 {
  font-size: 2em;
}

/*!!!! ESTILO DE LA SECCIÓN DE BENEFICIOS !!!!!*/ 
.benefits h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

.benefit-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.benefit-card img {
  height: 80px;
  margin-bottom: 15px;
}

.benefit-card p {
  font-weight: bold;
}

/*!!!! ESTILO DE LA SECCIÓN DE DETALLES !!!!!*/ 
.details p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.stats {
  background-color: #265073;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}


/*!!! FOOTER */
.footer {
  margin-top: 646px;
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-logo span {
  font-size: 24px;
  font-weight: bold;
}

.footer-nav {
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer-nav a:hover {
  color: #ddd;
}

.footer-social {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ddd;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-nav {
    margin-bottom: 0;
  }

  .footer-social {
    margin-bottom: 0;
  }
}
