@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*!!!! ESTILO GENERAL !!!!!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*!!!! ESTILO DEL BODY !!!!!*/
body {
  padding-top: 70px; /* Para evitar que el contenido se superponga al navbar fijo */
}

/*!!! Estilos para el Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #265073;
  text-decoration: none;
}

.navegacion a {
  color: #3a3a3a;
  font-weight: 600;
  margin: 0 15px;
  text-decoration: none;
}

.navegacion a.inicio {
  color: #2D9596;
}

/* Estilo para el enlace de iniciar sesión */
.iniciar a {
  background-color: #265073;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.iniciar a:hover {
  color: #fff;
  background-color: #0D6EFD;
}

/*!!!! ESTILO DEL HERO !!!!!*/ 
.hero {
  background: url('../image/hero.jpg') no-repeat center center/cover;
  height: 60vh;
}

.hero h1 {
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.cta-btn {
  padding: 10px 20px;
  background-color: #265073;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

/*!!!! ESTILO DE LA SECCIÓN DE BIENVENIDA !!!!!*/ 
.welcome{
  background-color: #265073;
}

.welcome h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
}

/*!!!! ESTILO DE LA SECCIÓN DE BENEFICIOS !!!!!*/ 
.benefits h2 {
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 600;
}

.benefit-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.benefit-card img {
  height: 80px;
  margin-bottom: 15px;
}

.benefit-card p {
  font-weight: bold;
}

.row{
  margin-top: 60px;
}

/*!!!! ESTILO DE LA SECCIÓN DE DETALLES !!!!!*/ 
.details{
  background-color: #265073;
  text-align: center;
  border-radius: 50px;
  margin-top: 60px;
}

.details p {
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.stats {
  background-color: #265073;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}


/*!!! FOOTER */
.footer {
  margin-top: 65px;
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-logo span {
  font-size: 24px;
  font-weight: bold;
}

.footer-nav {
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer-nav a:hover {
  color: #ddd;
}

.footer-social {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ddd;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-nav {
    margin-bottom: 0;
  }

  .footer-social {
    margin-bottom: 0;
  }
}


