@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*!!!! ESTILO DEL GENERAL !!!!!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*!!!! ESTILO DEL FORM !!!!!*/

.container {
  margin-top: 20px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 780px;
  max-width: 100%;
  min-height: 490px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}


.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #265073;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button:hover {
  color: #ffff;
  background-color: #0D6EFD;
}

.container button.hidden{
  margin-top: -10px;
  background-color: #ffff;
  color: #265073;
}

.container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.logo-sign {
  position: absolute;
  top: 40px; /* Ajusta la posición vertical según sea necesario */
  left: 33%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo-sign img {
  width: 30px; /* Ajusta el tamaño según el tamaño de tu logo */
  height: 30px; /* Ajusta el tamaño según el tamaño de tu logo */
  margin-right: 5px; /* Espacio entre la imagen y el texto */
}

.logo-sign a {
  font-weight: 700;
  color: #265073;
  text-decoration: none;
  font-size: 18px;
}

/* Ajuste para el título principal */
.form-container h1 {
  margin-top: 0px; /* Ajusta el espacio para que el título principal no se superponga con logo-sign */
}


.form-container span{
  font-size: 12px;
}
.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in{
  transform: translateX(100%);
}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
    opacity: 0;
    z-index: 1;
  }
  50%, 100%{
    opacity: 1;
    z-index: 5;
  }
}

.input-with-icon{
  position: relative;
  align-items: center;
  margin-bottom: 15px;
}

.input-with-icon input{
  flex: 1;
  padding-left: 40px;
}

.input-with-icon i{
  position: absolute;
  left: 8px;
  margin-top: 12px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.toggle-panel img {
  width: 270px;
  height: 270px;
}

.container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background-color: #265073;
  height: 100%;
  background: linear-gradient(to right, #265073, #265073);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}


/*!!! FOOTER */
.footer {
  margin-top: 15px;
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-logo span {
  font-size: 24px;
  font-weight: bold;
}

.footer-nav {
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer-nav a:hover {
  color: #ddd;
}

.footer-social {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ddd;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-nav {
    margin-bottom: 0;
  }

  .footer-social {
    margin-bottom: 0;
  }
}
