@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*!!!! ESTILO DEL GENERAL !!!!!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*!!!! ESTILO DEL FORM !!!!!*/

.container {
  margin-top: 20px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 480px;
  max-width: 100%;
  min-height: 400px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #265073;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button:hover {
  color: #ffff;
  background-color: #2D9596;
}

.container button.hidden {
  margin-top: -10px;
  background-color: #ffff;
  color: #265073;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.logo-forgot-pass {
  position: absolute;
  top: 40px;
  left: 33%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo-forgot-pass img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.logo-forgot-pass a {
  font-weight: 700;
  color: #265073;
  text-decoration: none;
  font-size: 18px;
}

.form-container h1 {
  margin-top: 0px;
}

.form-container span {
  font-size: 12px;
}

.input-with-icon {
  position: relative;
  align-items: center;
  margin-bottom: 15px;
}

.input-with-icon input {
  flex: 1;
  padding-left: 40px;
}

.input-with-icon i {
  position: absolute;
  left: 8px;
  margin-top: 15px;
}
