<!DOCTYPE html>
<html lang="es">
  <head>
    <title>EduConnect</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="preload" href="../../assets/css/landing_page/about_us.css" as="style" />
    <link rel="stylesheet" href="../../assets/css/landing_page/about_us.css" />
    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="../../assets/image/favicon.ico"
      type="image/x-icon"
    />
    <!-- MATERIAL ICONS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

  <body>
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../index.html">
            <img src="../../assets/image/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            EduConnect
          </a>
        </div>
        <div class="navegacion">
          <a href="../../index.html">Inicio</a>
          <a href="./about_us.html" class="about-us">Acerca de nosotros</a>
          <a href="./support.html">Soporte</a>
        </div>
        <div class="iniciar">
          <a href="../login_register/index.html">Iniciar</a>
        </div>
      </nav>
  </header>

  <main>

    <section class="title">
      <h1>¿Qué es <span>EduConnect</span>?</h1>
      <div class="container que_es">
        <img src="/EduConnect/assets/image/laptop.jpg" alt="laptop">
        <p>Es una plataforma que facilita la conexión entre 
          estudiantes con los expertos académicos para ofrecer 
          asesorías de diversas materias, nuestros expertos están aquí para ayudarte a alcanzar tus objetivos académicos.</p>
      </div>
    </section>

    <section class="subtitle">
      <h1>¿Qué ofrece <span>EduConnect</span>?</h1>
      <div class="bloq que_ofrece">
        <p>Asesorías Personalizadas: Ofrecemos sesiones de tutoría individualizadas adaptadas a las necesidades específicas de cada estudiante. Nuestro enfoque personalizado garantiza que cada estudiante reciba la atención y el apoyo que necesita para prosperar.
          <br><br>Retroalimentación Educativa: Proporcionamos retroalimentación continua y constructiva sobre el progreso académico de los estudiantes. Nuestros asesores evalúan el desempeño, identifican áreas de mejora y ofrecen sugerencias prácticas para ayudar a los estudiantes a alcanzar sus objetivos académicos.
          <br><br>Apoyo en Tareas: Ayudamos a los estudiantes con sus tareas y proyectos escolares, 
          proporcionando orientación y apoyo en la resolución de problemas y la redacción de informes.</p>
          <img src="/EduConnect/assets/image/estudio (1).png" alt="">
      </div>

    </section>

    <section>
      <div class="bloq_info">
        <h1>Nuestro <span>equipo</span></h1>
        <p>Contamos con un equipo multidisciplinario de profesionales 
          altamente <br>calificados en diversas áreas del conocimiento.</p>

          <div class="team-members">
            <div class="member">
              <img class="photo" src="/EduConnect/assets/image/celeste.jpg" alt="celeste">
                <h4>Celeste Gonzalez</h4>
            </div>
            <div class="member">
              <img class="photo" src="/EduConnect/assets/image/diana.jpg" alt="diana">
                <h4>Diana Gomez</h4>
            </div>
            <div class="member">
              <img class="photo" src="/EduConnect/assets/image/abraham.jpg" alt="wero">
                <h4>Abraham Garcia</h4>
            </div>
            <div class="member">
              <img class="photo" src="/EduConnect/assets/image/OIP.jpeg" alt="celeste">
                <h4>Steven Romano</h4>
            </div>
        </div>
    </div>

    </section>
  
  </main>











    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../../assets/image/logo.png" alt="Logo" />
          <span>EduConnect</span>
        </div>
        <nav class="footer-nav">
          <a href="../../index.html">Inicio</a>
          <a href="../landing_page/about_us.html">Acerca de Nosotros</a>
          <a href="../landing_page/support.html">Soporte</a>
        </nav>
        <div class="footer-social">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 EduConnect. Todos los derechos reservados.</p>
      </div>
    </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"
></script>
</body>
</html>
